body {
  font-family: 'Noto Sans', sans-serif;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.App {
  align-items: center;
  display: flex;
  justify-content: center;
}

.payment-form {
  background-color: #FFFFFF;
  box-shadow: 0px 2px 8px #00000029;
  max-width: 570px;
  margin: 2rem;
}

.top-bar {
  background-color: #f5f5f5;
  padding: 1rem 2rem;
}

.form-container {
  padding: 1rem 2rem 2rem 2rem;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: initial;
  margin: initial;
  font-size: 24px;
  color: #666666;
  margin: 1rem 0;
}

p {
  margin: initial;
}

.title {
  font-weight: bold;
  font-size: 16px;
  color: #666666;
  margin-bottom: 0.5rem;
}

.logo-visa {
  width: 3rem;
}

.detail {
  color: #666666;
  font-size: 12px;
}

.text-container {
  margin-left: 1rem;
  width: 80%;
}

.checkbox-text-container {
  display: flex;
  flex-direction: row;
}

.paymen-method {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.5rem 0;
}

.payment-form-container {
  margin: 2.5rem 0 1rem 0rem;
}

input[type=text] {
  height: 3rem;
  margin-bottom: 1.5rem;
	border-radius: 6px;
  border: 2px solid #E4E4E4;
	padding: 0.6rem 1.4rem .5rem 0.8rem;
  color: #CCCCCC;
}

input[type=text]::placeholder {
  color: #CCCCCC;
}

input[type=text]:focus {  
  outline: none !important;
  border: 2px solid #88C9F6;
}

input[type=text]:focus::placeholder {
  color: #666666;
}

.number-card {
  width: 100%;
}

.month-card {
  width: 25%;
	line-height: 2;
	padding: 0.6rem 1.4rem 0.5rem 0.8rem;
  background-image: url(./img/arrow.svg);
  background-repeat: no-repeat;
  background-position: 90%;
  border: 2px solid #E4E4E4;
	border-radius: 6px;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
  color: #CCCCCC;
}

.month-card:focus {
  border: 2px solid #88C9F6;
  color: #666666;
	outline: none;
}

.year-card {
  width: 25%;
	line-height: 2;
  background-image: url(./img/arrow.svg);
  background-repeat: no-repeat;
  background-position: 90%;
	padding: 0.6rem 1.4rem 0.5rem 0.8rem;
  border: 2px solid #E4E4E4;
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
  margin: 0 5%;
  color: #CCCCCC;
}

.year-card:focus {
  border: 2px solid #88C9F6;
  color: #666666;
	outline: none;
}

.cvv-card {
  width: 40%;
  background-image: url(./img/help-logo.svg);
  background-repeat: no-repeat;
  background-position: 90%;
}

.name-card {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.primary-button {
  background-color: #88C9F6;
  border: none;
  border-radius: 6px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  width: 10rem;
}

.secondary-button {
  background-color: transparent;
  border: 2px solid #95989A;
  border-radius: 6px;
  color: #666666;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  width: 10rem;
}

@media (max-width: 600px) {
  .payment-form {
    margin: initial;
  }
  .primary-button {
    width: 8rem;
  }
  .secondary-button {
    width: 8rem;
  }
}
